!!! 5
/[if lt IE 7]   <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en-us">
/[if IE 7]      <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en-us">
/[if IE 8]      <html class="no-js lt-ie10 lt-ie9" lang="en-us">
/[if IE 9]      <html class="no-js lt-ie10 lt-ie9" lang="en-us">
/[if lt IE 10]  <html class="no-js lt-ie10" lang="en-us">
/[if !IE]>
%html{lang: 'en', class: 'no-js'}
  /<![endif]
  %head
    %title #{data.page.title || "Michael McMillan | UX Designer"}
    %meta(http-equiv="content-type" content="text/html" charset="utf-8")
    %meta(http-equiv="x-ua-compatible" content="ie=edge,chrome=1")
    %meta(name="description" content="Michael McMillan is a User Experience Designer based in Seattle creating great experiences for users in the digital arena.")
    %meta(name="author" content="Michael McMillan")
    %meta(name="keywords" content="Michael McMillan, User Experience Design, Design, User, Experience UX, Heroku, , User Interface, UI, SASS, HAML, Ruby on Rails, PHP, Rapid Prototyping, Lean UX, Prototyping, Seattle, UI, Interface, Interactions, HCI, human computer interaction, HTML, CSS, HTML5, jQuery, HCDE, HCI, Human-Computer Interaction, Usability, Digital, Mobile UX")

    -# Standard viewport tag to set the viewport to the device's width,
    -# Android 2.3 devices need this so 100% width works properly and
    -# doesn't allow children to blow up the viewport width
    %meta{content: "initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width", name: "viewport"}

    -# Fix for iPhone 5 fullscreen web apps
    %meta(name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)")
    %meta(name='apple-mobile-web-app-capable' content='yes')
    %meta(name='apple-mobile-web-app-status-bar-style' content='translucent-black')

    -# App Icons
    %link(rel="shortcut icon" href="/images/favicon.ico")
    %link(rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/apple-touch-icon-57x57-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon-72x72-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114x114-precomposed.png")

    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js'

    -# Stylesheets
    = stylesheet_link_tag 'application'

  %body{class: current_page.data.body_class || 'page'}
    / %span#top-link-block.hidden
    /   %a{ href: "#top", onclick: "$('html,body').animate({scrollTop:0},'slow');return false;" }
    /     %i.fa.fa-angle-up.fa-2x
    = yield

    = partial "layouts/footer"

    -# Javascripts
    = javascript_include_tag '//cdn.jsdelivr.net/headroomjs/0.5.0/headroom.min.js'
    = javascript_include_tag 'application'
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      %script{:src => "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
      %script{:src => "https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"}
    :javascript
      if ( ($(window).height() + 300) < $(document).height() ) {

      }
    - if build?
      -# Google Analytics
      :javascript
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));