/ Page Content
.content-section-a
  .container
    .row.job.padding-bottomgap20
      .col-12
        %h1.job-title.upper-class
          Quick list of my favorite projects.
        %hr.clear-fix
        %ul.job-description-list.list-unstyled
          %li= link_to "eLocalPlumbers.com", "http://www.elocalplumbers.com/", target: "_blank"
          %li= link_to "eLocal.com Save the World Campaign", "http://www.elocal.com/save-the-world", target: "_blank"
          %li= link_to "Mitchell Contractors", "http://www.mitchellcontractors.com/", target: "_blank"
          %li= link_to "Kodak Product Rapid Prototype", "http://kod-alaris.herokuapp.com/", target: "_blank"
          %li= link_to "Ever find yourself tired of conference calls?", "http://cc-bingo.herokuapp.com/", target: "_blank"
          %li= link_to "GitHub Repostitory", "https://github.com/michaelmac123?tab=repositories", target: "_blank"
