.content-section-b
  .container
    .row
      .col-12
        %h2.section-heading.margin-bottomgap0.med-blue
          Phase 1
        %hr.section-heading-spacer
        %p.clear-left
          Experience Strategy
        %p.clear-left.section-body-text
          The business development team determined that the cultivation of affiliate relationships would be great beneficial to our calls and leads business.
          We need to rapidly create a MVP to assist our operations teams in onboarding new affiliate relations.
        %p.clear-left.section-body-text
          During discovery, I worked closely with the operations team to determine their daily routine, current frustrations and daily goals and use those observations to generate personas. This also allowed me to generate create a basic flow for the onboarding process highlighting potential frustrations and how this process would be incorporated into their daily routine. After designating persona types and aligning this with our phasing strategy I was able to prioritise who I would be focusing on supporting in the early stages. For phase 1 our primary personas  focused on supporting the goals of Robyn and Robert. Our personas consisted of 2 different archetypes that would set the basis for the behaviors expected during the onboarding process.

      .col-10.col-push-1= image_tag "work/elocal-affiliates/elocal-affiliates-map.png", class: "img-responsive"
      .col-10.col-push-1
        .col-6= image_tag "work/elocal-affiliates/elocal-affiliates-persona-1.png", class: "img-responsive"
        .col-6= image_tag "work/elocal-affiliates/elocal-affiliates-persona-2.png", class: "img-responsive"

.content-section-a
  .container
    .row
      .col-12
        %h2.section-heading.margin-bottomgap0.med-blue
          Phase 2
        %hr.section-heading-spacer
        %p.clear-left
          Prototyping

      .col-5
        = image_tag "work/elocal-affiliates/elocal-affiliates-content-structure.png", class: "img-responsive"
        %h3.work-section-subtitle
          Structuring the Experience
        %p.clear-left.section-body-text.margin-topgap0
          From my discussions with the operations team, we determined a clear pathway they would take during the onboarding process. Our first step was to plot out the site naviation to mimiac the teams actions during different usage contexts.
      .col-5.col-push-1
        = image_tag "work/elocal-affiliates/elocal-affiliates-content-sketch.png", class: "img-responsive"
        %h3.work-section-subtitle
          Quick Sketches
        %p.clear-left.section-body-text.margin-topgap0
          Getting thoughts onto paper, I quickly sketched out the design to get immediate feedback from the operations team. This allowed us to quickly iterate on what functionality would streamline the onboarding process and create a more cohesive design.
.content-section-a
  .container
    .row.margin-gap20
      .col-6
        = image_tag "work/elocal-affiliates/elocal-affiliates-prototype-1.png", class: "img-responsive"
      .col-4.col-push-1
        %h3.work-section-subtitle
          Hi-Res Mock ups to Rapid Prototyping
        %p.clear-left.section-body-text.margin-topgap0
          Once the team like the general direction, I took the rough designs and created high resolution mockups in Photoshop. This gave the stakeholders a chance to review the aesthetics and provide general "feel good" feedback.
        %p.clear-left.section-body-text.margin-topgap0
          We used InVision App to create some click scenarios interactions and allow basic usablity testing for our operations team. This process took only a day to build and test.
        %p.clear-left.section-body-text.margin-topgap0
          From there, we started the development cycle and propagating with real data. Once we had a MVP, we paused development and began user testing again with more concise user scenarios then made adjustments based of thise findings.
