---
title: Michael McMillan | Creative Director
body_class: index
---
= partial "layouts/navigation"

/ Page Content
.content-section-a.clearfix.padding-bottomgap20
  .container
    %h2.section-heading.margin-bottomgap0.med-blue UX Design
    %hr.section-heading-spacer
  .column--with-margin
    .column--1-3.work-container
      %a{ href: '/work/elocal-affiliates' }
        .work-box
          = image_tag "work/elocal-affiliates/thumb-elocal-affiliates.png", class: "img-responsive", style: "width: 100%;position:absolute;"
          .work-text
            .work-inner
              .work-content
                %h6.work-title><
                  %span.block User Experience Design
                  %span.block.small eLocal Affilates
                %p.work-subtitle ~ view ~
    .column--2-3.work-container
      %a{ href: '/work/transform-digital' }
        .work-box
          = image_tag "work/transform-digital/thumb-transform-digital.png", class: "img-responsive", style: "width: 100%;position:absolute;"
          .work-text
            .work-inner
              .work-content
                %h6.work-title
                  %span.block Rapid Prototype
                  %span.block.small Kodak / Transform Digital
                %p.work-subtitle ~ view ~
    .column--3-3.work-container
      %a{ href: '/work/elocal-call-center' }
        .work-box
          = image_tag "work/elocal-call-center/thumb-elocal-call-center.png", class: "img-responsive", style: "width: 100%;position:absolute;"
          .work-text
            .work-inner
              .work-content
                %h6.work-title><
                  %span.block User Experience Design
                  %span.block.small eLocal Call Center
                %p.work-subtitle ~ view ~

.content-section-a.clearfix
  .container
    %h2.section-heading.margin-bottomgap0.med-blue Creative Direction
    %hr.section-heading-spacer
  .column--with-margin
    .column--1-3.work-container
      %a{ href: '/work/loving-with-food' }
        .work-box
          = image_tag "work/loving-with-food/thumb-loving-with-food.png", class: "img-responsive", style: "width: 100%;position:absolute;"
          .work-text
            .work-inner
              .work-content
                %h6.work-title><
                  %span.block Visual Design
                  %span.block.small Loving With Food / ShareCrate
                %p.work-subtitle ~ view ~

    .column--2-3.work-container
      %a{ href: '/work/dream-dinners' }
        .work-box
          = image_tag "work/dream-dinners/thumb-dream-dinners.png", class: "img-responsive", style: "width: 100%;position:absolute;"
          .work-text
            .work-inner
              .work-content
                %h6.work-title><
                  %span.block Food Photography & Design
                  %span.block.small Dream Dinners
                %p.work-subtitle ~ view ~

    .column--3-3.work-container
      %a{ href: '/work/beccas-restaurant' }
        .work-box
          = image_tag "work/beccas-restaurant/thumb-beccas-restaurant.png", class: "img-responsive", style: "width: 100%;position:absolute;"
          .work-text
            .work-inner
              .work-content
                %h6.work-title><
                  %span.block Branding & Design
                  %span.block.small Becca's Restaurant
                %p.work-subtitle ~ view ~

    .column--1-3.work-container
      %a{ href: '/work/prell' }
        .work-box
          = image_tag "work/prell/thumb-prell.png", class: "img-responsive", style: "width: 100%;position:absolute;"
          .work-text
            .work-inner
              .work-content
                %h6.work-title><
                  %span.block Visual Design
                  %span.block.small Prell / Ultimark Products
                %p.work-subtitle ~ view ~
    .column--2-3.work-container
      %a{ href: '/work/save-the-world-elocal' }
        .work-box
          = image_tag "work/save-the-world-elocal/thumb-save-the-world-elocal.png", class: "img-responsive", style: "width: 100%;position:absolute;"
          .work-text
            .work-inner
              .work-content
                %h6.work-title><
                  %span.block Creative Direction
                  %span.block.small Save the World - eLocal
                %p.work-subtitle ~ view ~
    .column--3-3.work-container
      %a{ href: '/work/lifestyle-dream-dinners' }
        .work-box
          = image_tag "work/lifestyle-dream-dinners/thumb-lifestyle-dream-dinners.png", class: "img-responsive", style: "width: 100%;position:absolute;"
          .work-text
            .work-inner
              .work-content
                %h6.work-title
                  %span.block Lifestyle Photography
                  %span.block.small Dream Dinners
                %p.work-subtitle ~ view ~
